@font-face {
  font-family: "JetBrainsMono Nerd";
  src: url("/fonts/JetbrainsMono/JetBrainsMonoNerdFontPropo-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.callout {
  padding: 1rem 1.25rem;
  margin: 0rem 0rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 0;
  overflow: hidden;
}

// TIP
.callout-tip {
  @extend .callout;
  border-color: #b7d9d3;
  background: #b7d9d333;

  position: relative;
  padding-top: 3rem;

  &::before {
    content: "\f0eb";
    font-family: "JetBrainsMono Nerd";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0.4rem 1.25rem;

    background: #b7d9d3;
    color: #233;
    font-weight: 600;
  }

  &::after {
    content: "Tip";

    position: absolute;
    top: 0.4rem;
    left: 3rem;

    font-family: inherit;
    font-weight: 600;
    color: #233;
  }
}

// IMPORTANT
.callout-important {
  @extend .callout;
  border-color: #f3c7b3;
  background: #f3c7b333;

  position: relative;
  padding-top: 3rem;

  &::before {
    content: "\f071";
    font-family: "JetBrainsMono Nerd";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0.4rem 1.25rem;

    color: #232634;             
    background:  #f3c7b3;
    font-weight: 600;
  }
  &::after {
    content: "Important";

    position: absolute;
    top: 0.4rem;
    left: 3rem;

    font-family: inherit;
    font-weight: 600;
    color: #233;
  }
}

// NOTE
.callout-note {
  @extend .callout;
  border-color: #fff4b8;
  background: #fff4b833;

  position: relative;
  padding-top: 3rem;

  &::before {
    content: "\f040";
    font-family: "JetBrainsMono Nerd";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0.4rem 1.25rem;

    color: #232634;             
    background:  #fff4b8;
    font-weight: 600;
  }

  &::after {
    content: "Note";

    position: absolute;
    top: 0.4rem;
    left: 3rem;

    font-family: inherit;
    font-weight: 600;
    color: #233;
  }
}

// INFORMATION
.callout-info {
  @extend .callout;
  border-color: #c9dff3;
  background: #c9dff333;

  position: relative;
  padding-top: 3rem;

  &::before {
    content: "\f449";
    font-family: "JetBrainsMono Nerd";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0.4rem 1.25rem;

    color: #232634;             
    background:  #c9dff3;
    font-weight: 600;
  }

  &::after {
    content: "Information";

    position: absolute;
    top: 0.4rem;
    left: 3rem;

    font-family: inherit;
    font-weight: 600;
    color: #233;
  }

}
