// This defines theme-specific variables.
@mixin theme-variables($theme) {
    @if $theme =='light' {
        // Light theme colours.
        //--background-color: #FEFBF6;
        --primary-color:  #3271E7; // #0000B8 Contrast ratio: 12.41:1  original solarized #0054CF Contrast ratio: 6.62:1
        --codeblock-bg: #282828;
    }
    @else if $theme == 'dark' {
        // Dark theme colours.
        --background-color: #002B36;
        --primary-color: #EBC13D;  // Contrast ratio: 8.74:1
        --codeblock-bg: #184956;
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables('light');
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme='dark'] {
    @include theme-variables('dark');
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
        @include theme-variables('dark');
    }
}
